#cal-main {
    width: 160px;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: gray;
}

.all-dic {
    margin: 10px;
}

#btn-c {
    width: 60px;
}

#btn- {
    width: 50px;
}

#result {
    width: 135px;
    box-shadow: 2px 2px 8px black;
}

#all {
    width: 105px;
}

button {
    box-shadow: 2px 2px 8px black;
}